html, body, #root, .container {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
}

.row:nth-of-type(3n) .square {
  border-bottom: 2px solid black;
}

.square {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}

.square:nth-of-type(3n) {
  border-right: 2px solid black;
}

.square:last-child {
  border-right: 1px solid black;
}

.row:last-child .square {
  border-bottom: 1px solid black;
}

.square__input {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square__input--filled {
  color: black;
  font-weight: 900;
}

.square__input--unfilled {
  color: black;
  font-style: italic;
}

.square--highighted {
  background-color: lightgray;
}

.square--selected {
  background-color: lightblue;
}

.number-picker {
  display: flex;
  justify-content: space-around;
}

.number-picker__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.number-picker--disabled {
  opacity: 0.5;
}

.number-picker__button--disabled {
  cursor: not-allowed;
}

.square__input--filled-by-user {
  animation: 2s filledByUser;
}

@keyframes filledByUser {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
