.row {
  display: flex;
}

.row:nth-of-type(3n) .square {
  border-bottom: 2px solid black;
}

.square {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.square:nth-of-type(3n) {
  border-right: 2px solid black;
}

.square:last-child {
  border-right: 1px solid black;
}

.row:last-child .square {
  border-bottom: 1px solid black;
}

.square__input {
  width: 100%;
  font-size: 18px;
  appearance: none;
  border: none;
  color: darkgray;
}